.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #979ea1;
  }
  
  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #979ea1;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
  }
  
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }